@import reset
@import fonts
@import config
@import utility
@import animations

html
  box-sizing: border-box
*, *:before, *:after
  box-sizing: inherit

body
  font-family: "Open Sans"
  background: #222

.login-window-container
  position: relative

  overflow: hidden

  height: 100vh
  width: 100vw

.login-window
  opacity: 0

  // Vertical Center
  position: absolute
  top: 50%
  left: 50%

  margin: -250px 0px 0px -425px

  height: 500px
  width: 850px

  transform: scale(0.7)

  // + 600ms to delay, cos shit can happen, we need buffers
  animation: window-fade-in 0.6s 1s forwards
  animation-timing-function: ease-out

  .ended &
    animation: window-fade-out 0.5s forwards, fade-out 0.2s 0.3s forwards
    animation-timing-function: ease-in

  .left-col, .right-col
    float: left
    display: inline-block

    padding: $panel-padding-y $panel-padding-x

    height: 100%

  .left-col
    color: #fff

    background: $left-background
    width: $command-panel-width

  .right-col
    width: $login-panel-width

.left-col
  & > div
    height: 100%

  .distro-logo
    background: $distro-logo no-repeat center center

    margin: 0px auto

    height: 125px
    width: 125px

    &:hover
      cursor: pointer

    &:active
      transition: transform 400ms
      transform: translateY(-400px) scale(1.6)

  .distro-wrapper
    padding-top: 35px

    height: 52%

    .options-wrapper
      overflow: hidden

      height: 45px
      width: 100%


  .command
    margin-bottom: 25px

    transition: all 0.5s

    @extend .noselect

    &:hover
      cursor: pointer
      opacity: 0.6

  .command .icon-wrapper, .command .text
    display: inline-block

    @extend .noselect

  .command .icon-wrapper
    margin-right: 10px
    width: 30px

  .command.shutdown .icon, .command.power.off .icon
    background: $shutdown-icon no-repeat center center

    height: 20px
    width: 20px

  .command.reboot .icon, .command.restart .icon
    background: $reboot-icon no-repeat center center

    height: 20px
    width: 20px

  .command.sleep .icon
    background: $sleep-icon no-repeat center center

    height: 25px
    width: 29px

  .command.hibernate .icon
    background: $hibernate-icon no-repeat center center

    height: 13px
    width: 25px

  .command .text
    font-size: 16pt
    letter-spacing: 2px
    text-transform: uppercase
    vertical-align: 2px

  .commands-wrapper
    height: 43%

  .bottom
    height: 5%
    padding-top: 15px

  .bottom .left, .bottom .right
    float: left

    font-size: 9pt
    font-weight: bold
    letter-spacing: 1px

  .bottom .left
    color: $hostname-color

    overflow: hidden

    text-overflow: ellipsis
    text-transform: uppercase
    white-space: nowrap

    width: 70%

    @extend .noselect

  .bottom .right
    text-align: right

    opacity: 0

    width: 30%

    transition: opacity 1s

    @extend .noselect

  .bottom .clock.loaded
    opacity: 1

.right-col
  color: #fff
  border-bottom: none

  & > div
    height: 100%

  .login-panel-main
    position: relative
    padding-top: 50%
    z-index: 2

    height: 100%

    &.fadeout
      animation: login-fade-out 500ms ease forwards
      z-index: 1

    &.fadein
      animation: login-fade-in 200ms ease-out forwards

    .login-form
      height: 100%
      transform: translateY(-50%)
      display: block

      .user-username
        text-align: center

        font-size: 32pt

        @extend .noselect

      .user-password-container
        margin: 15px auto
        width: 200px

      .user-password
        color: #fff

        background: none
        outline: none
        border: none
        border-bottom: 2px solid rgba(255, 255, 255, 0.6)

        font-size: 14pt
        font-weight: bold
        letter-spacing: 2px

        width: 100%

        transition: opacity 1s

        &:focus, &:active
          border-bottom: 2px solid rgba(255, 255, 255, 0.8)

        &::-webkit-input-placeholder
          color: rgba(255, 255, 255, 0.4)
          @extend .noselect

        &.error
          animation: error-shake 600ms forwards

        &.error, &.error:focus, &.error:active
          border-bottom: 2px solid $err-color

        &.error::-webkit-input-placeholder
          color: #af0303

      .submit-row
        $submit-row-width: 200px

        margin: 0 auto
        width: $submit-row-width

        position: absolute
        left: (($login-panel-width / 2) - ($submit-row-width / 2)) - $panel-padding-x

        .left, .right
          display: inline-block
          float: left

        .left
          width: 80%

        .left .dropdown
          font-size: 9pt

          width: 95%

          @extend .noselect

          &:hover
            cursor: pointer

        .right
          width: 20%

        .right .submit-button
          color: #fff
          background: transparent

          border: none
          outline: none

          position: relative
          top: -1px
          left: 6px

          font-weight: bold
          font-size: 8pt

          padding: 8px

          &:hover
            cursor: pointer

      .submit-row-container
        position: relative

      .left .dropdown .dropdown-item
        color: #fff
        display: none
        background: transparent

        padding: 8px 10px


      .left .dropdown .dropdown-item.active
        display: block

        position: relative

        font-weight: bold
        font-style: italic
        line-height: 1.2em

        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

        padding-right: 30px

      .left .dropdown.active .dropdown-item
        display: block

  .login-panel-main .bottom
    height: 5%
    width: 100%
    position: absolute
    bottom: 0

    .left, .right
      color: #fff
      float: left

      font-size: 9pt
      letter-spacing: 1px

    .left
      font-weight: bold
      width: 30%

      @extend .noselect

      &:hover
        cursor: pointer

    .right
      position: absolute
      right: 0px

      font-style: italic
      text-align: right
      transition: all 1s

      opacity: 0
      width: 40%

      @extend .noselect

      &.loaded
        opacity: 1

      em
        font-weight: bold


#messages
  position: absolute
  padding: 15px

  text-align: right

  width: 595px
  top: 0
  right: 0

  span
    opacity: 0
    animation: drop-in-notifications 2s forwards
    color: #fff
    font-size: 14pt
    letter-spacing: 1px
    display: block
    text-transform: uppercase

    &.error
      color: $err-color
      animation: drop-in-notifications 2s forwards, error-shake 400ms 500ms forwards
      opacity: 1

    &.success
      color: #1fe977

.wallpaper-background, .wallpaper-foreground
  background-size: cover

  overflow: hidden
  position: fixed

  height: 100vh
  width: 100vw

  z-index: -1

.wallpaper-foreground
  opacity: 0
  // + 600ms to delay, cos shit can happen, we need buffers
  animation: wallpaper-fade-in 0.7s 0.6s forwards
  animation-timing-function: ease-in

  .ended &
    // 0.4s delay is embedded
    animation: wallpaper-fade-out 1000ms forwards
    animation-timing-function: ease-out

  &.fadeout
    animation: wallpaper-fade-out 600ms forwards
    animation-timing-function: ease-out
