@keyframes drop-in-notifications {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes drop-in-options {
  0% {
    top: -100px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes error-shake {
  0% {
    transform: translateX(0px) scale(1); }
  11% {
    transform: translateX(-10px) scale(1.05); }
  22% {
    transform: translateX(10px) scale(1.05); }
  33% {
    transform: translateX(-10px) scale(1.05); }
  44% {
    transform: translateX(10px) scale(1.05); }
  55% {
    transform: translateX(-10px) scale(1.05); }
  66% {
    transform: translateX(10px) scale(1.05); }
  77% {
    transform: translateX(10px) scale(1.05); }
  88% {
    transform: translateX(10px) scale(1); }
  100% {
    transform: translateX(0px); } }

@keyframes login-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0); }
  90% {
    transform: translateY(10px); }
  100% {
    opacity: 0; } }

@keyframes login-fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes wallpaper-fade-out {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes wallpaper-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes window-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.7); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes window-fade-out {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 1;
    transform: scale(0.7); } }
