/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../font/OpenSans-BoldItalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

.disabled {
  opacity: 0.4; }
  .disabled .disabled:hover {
    cursor: not-allowed !important; }

.noselect, .left-col .command, .left-col .command .icon-wrapper, .left-col .command .text, .left-col .bottom .left, .left-col .bottom .right, .right-col .login-panel-main .login-form .user-username, .right-col .login-panel-main .login-form .user-password::-webkit-input-placeholder, .right-col .login-panel-main .login-form .submit-row .left .dropdown, .right-col .login-panel-main .bottom .left, .right-col .login-panel-main .bottom .right {
  -webkit-user-select: none; }

@keyframes drop-in-notifications {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes drop-in-options {
  0% {
    top: -100px;
    opacity: 0; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes error-shake {
  0% {
    transform: translateX(0px) scale(1); }
  11% {
    transform: translateX(-10px) scale(1.05); }
  22% {
    transform: translateX(10px) scale(1.05); }
  33% {
    transform: translateX(-10px) scale(1.05); }
  44% {
    transform: translateX(10px) scale(1.05); }
  55% {
    transform: translateX(-10px) scale(1.05); }
  66% {
    transform: translateX(10px) scale(1.05); }
  77% {
    transform: translateX(10px) scale(1.05); }
  88% {
    transform: translateX(10px) scale(1); }
  100% {
    transform: translateX(0px); } }

@keyframes login-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0); }
  90% {
    transform: translateY(10px); }
  100% {
    opacity: 0; } }

@keyframes login-fade-in {
  0% {
    opacity: 0;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes wallpaper-fade-out {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes wallpaper-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes window-fade-in {
  0% {
    opacity: 0;
    transform: scale(0.7); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes window-fade-out {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 1;
    transform: scale(0.7); } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans";
  background: #222; }

.login-window-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw; }

.login-window {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -425px;
  height: 500px;
  width: 850px;
  transform: scale(0.7);
  animation: window-fade-in 0.6s 0.7s forwards;
  animation-timing-function: ease-out; }
  .ended .login-window {
    animation: window-fade-out 0.5s forwards, fade-out 0.2s 0.3s forwards;
    animation-timing-function: ease-in; }
  .login-window .left-col, .login-window .right-col {
    float: left;
    display: inline-block;
    padding: 15px 35px;
    height: 100%; }
  .login-window .left-col {
    color: #fff;
    background: #393939;
    width: 255px; }
  .login-window .right-col {
    width: 595px; }

.left-col > div {
  height: 100%; }

.left-col .distro-logo {
  background: url("../img/arch-logo.png") no-repeat center center;
  margin: 0px auto;
  height: 125px;
  width: 125px; }
  .left-col .distro-logo:hover {
    cursor: pointer; }
  .left-col .distro-logo:active {
    transition: transform 400ms;
    transform: translateY(-400px) scale(1.6); }

.left-col .distro-wrapper {
  padding-top: 35px;
  height: 52%; }
  .left-col .distro-wrapper .options-wrapper {
    overflow: hidden;
    height: 45px;
    width: 100%; }

.left-col .command {
  margin-bottom: 25px;
  transition: all 0.5s; }
  .left-col .command:hover {
    cursor: pointer;
    opacity: 0.6; }

.left-col .command .icon-wrapper, .left-col .command .text {
  display: inline-block; }

.left-col .command .icon-wrapper {
  margin-right: 10px;
  width: 30px; }

.left-col .command.shutdown .icon, .left-col .command.power.off .icon {
  background: url("../img/shutdown.png") no-repeat center center;
  height: 20px;
  width: 20px; }

.left-col .command.reboot .icon, .left-col .command.restart .icon {
  background: url("../img/reboot.png") no-repeat center center;
  height: 20px;
  width: 20px; }

.left-col .command.sleep .icon {
  background: url("../img/sleep.png") no-repeat center center;
  height: 25px;
  width: 29px; }

.left-col .command.hibernate .icon {
  background: url("../img/hibernate.png") no-repeat center center;
  height: 13px;
  width: 25px; }

.left-col .command .text {
  font-size: 16pt;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: 2px; }

.left-col .commands-wrapper {
  height: 43%; }

.left-col .bottom {
  height: 5%;
  padding-top: 15px; }

.left-col .bottom .left, .left-col .bottom .right {
  float: left;
  font-size: 9pt;
  font-weight: bold;
  letter-spacing: 1px; }

.left-col .bottom .left {
  color: #c2c2c2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 70%; }

.left-col .bottom .right {
  text-align: right;
  opacity: 0;
  width: 30%;
  transition: opacity 1s; }

.left-col .bottom .clock.loaded {
  opacity: 1; }

.right-col {
  color: #fff;
  border-bottom: none; }
  .right-col > div {
    height: 100%; }
  .right-col .login-panel-main {
    position: relative;
    padding-top: 50%;
    z-index: 2;
    height: 100%; }
    .right-col .login-panel-main.fadeout {
      animation: login-fade-out 500ms ease forwards;
      z-index: 1; }
    .right-col .login-panel-main.fadein {
      animation: login-fade-in 200ms ease-out forwards; }
    .right-col .login-panel-main .login-form {
      height: 100%;
      transform: translateY(-50%);
      display: block; }
      .right-col .login-panel-main .login-form .user-username {
        text-align: center;
        font-size: 32pt; }
      .right-col .login-panel-main .login-form .user-password-container {
        margin: 15px auto;
        width: 200px; }
      .right-col .login-panel-main .login-form .user-password {
        color: #fff;
        background: none;
        outline: none;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.6);
        font-size: 14pt;
        font-weight: bold;
        letter-spacing: 2px;
        width: 100%;
        transition: opacity 1s; }
        .right-col .login-panel-main .login-form .user-password:focus, .right-col .login-panel-main .login-form .user-password:active {
          border-bottom: 2px solid rgba(255, 255, 255, 0.8); }
        .right-col .login-panel-main .login-form .user-password::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.4); }
        .right-col .login-panel-main .login-form .user-password.error {
          animation: error-shake 600ms forwards; }
        .right-col .login-panel-main .login-form .user-password.error, .right-col .login-panel-main .login-form .user-password.error:focus, .right-col .login-panel-main .login-form .user-password.error:active {
          border-bottom: 2px solid #f78a46; }
        .right-col .login-panel-main .login-form .user-password.error::-webkit-input-placeholder {
          color: #af0303; }
      .right-col .login-panel-main .login-form .submit-row {
        margin: 0 auto;
        width: 200px;
        position: absolute;
        left: 162.5px; }
        .right-col .login-panel-main .login-form .submit-row .left, .right-col .login-panel-main .login-form .submit-row .right {
          display: inline-block;
          float: left; }
        .right-col .login-panel-main .login-form .submit-row .left {
          width: 80%; }
        .right-col .login-panel-main .login-form .submit-row .left .dropdown {
          font-size: 9pt;
          width: 95%; }
          .right-col .login-panel-main .login-form .submit-row .left .dropdown:hover {
            cursor: pointer; }
        .right-col .login-panel-main .login-form .submit-row .right {
          width: 20%; }
        .right-col .login-panel-main .login-form .submit-row .right .submit-button {
          color: #fff;
          background: transparent;
          border: none;
          outline: none;
          position: relative;
          top: -1px;
          left: 6px;
          font-weight: bold;
          font-size: 8pt;
          padding: 8px; }
          .right-col .login-panel-main .login-form .submit-row .right .submit-button:hover {
            cursor: pointer; }
      .right-col .login-panel-main .login-form .submit-row-container {
        position: relative; }
      .right-col .login-panel-main .login-form .left .dropdown .dropdown-item {
        color: #fff;
        display: none;
        background: transparent;
        padding: 8px 10px; }
      .right-col .login-panel-main .login-form .left .dropdown .dropdown-item.active {
        display: block;
        position: relative;
        font-weight: bold;
        font-style: italic;
        line-height: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 30px; }
      .right-col .login-panel-main .login-form .left .dropdown.active .dropdown-item {
        display: block; }
  .right-col .login-panel-main .bottom {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0; }
    .right-col .login-panel-main .bottom .left, .right-col .login-panel-main .bottom .right {
      color: #fff;
      float: left;
      font-size: 9pt;
      letter-spacing: 1px; }
    .right-col .login-panel-main .bottom .left {
      font-weight: bold;
      width: 30%; }
      .right-col .login-panel-main .bottom .left:hover {
        cursor: pointer; }
    .right-col .login-panel-main .bottom .right {
      position: absolute;
      right: 0px;
      font-style: italic;
      text-align: right;
      transition: all 1s;
      opacity: 0;
      width: 40%; }
      .right-col .login-panel-main .bottom .right.loaded {
        opacity: 1; }
      .right-col .login-panel-main .bottom .right em {
        font-weight: bold; }

#messages {
  position: absolute;
  padding: 15px;
  text-align: right;
  width: 595px;
  top: 0;
  right: 0; }
  #messages span {
    opacity: 0;
    animation: drop-in-notifications 2s forwards;
    color: #fff;
    font-size: 14pt;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase; }
    #messages span.error {
      color: #f78a46;
      animation: drop-in-notifications 2s forwards, error-shake 400ms 500ms forwards;
      opacity: 1; }
    #messages span.success {
      color: #1fe977; }

.wallpaper-background, .wallpaper-foreground {
  background-size: cover;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1; }

.wallpaper-foreground {
  opacity: 0;
  animation: wallpaper-fade-in 0.7s 0.3s forwards;
  animation-timing-function: ease-in; }
  .ended .wallpaper-foreground {
    animation: wallpaper-fade-out 1000ms forwards;
    animation-timing-function: ease-out; }
  .wallpaper-foreground.fadeout {
    animation: wallpaper-fade-out 600ms forwards;
    animation-timing-function: ease-out; }
